body {
  background-color: black;
  text-align: center;
}

.container1,
.container2 {
  display: flex;
  justify-content: center;
}
.img {
  width: 200px;
  height: 200px;
  margin: 5px;
}
.heading {
  color: white;
  font-size: 3rem;
  margin-bottom: 0px;
  font-weight: lighter;
}
.name {
  font-size: 3rem;
  font-weight: 900;
}
.para {
  color: white;
}
.txt {
  color: blue;
}
.slogan {
  color: white;
}
.txt2 {
  color: rgb(42, 244, 42);
  font-weight: 500;
}
.brand {
  width: 50px;
  height: 30px;
  padding: 20px;
}
.brands {
  width: 50px;
  height: 40px;
  padding: 20px;
}
